<!DOCTYPE html>
<html>
<head>
	<title>angluar-demo4 控制器</title>
	<script src="angular.min.js"></script>
	<script>
		//建立模块
		var app=angular.module("myApp",[]); 
		//创建控制器，&scope就是控制器与视图层之间交换数据的桥梁
		app.controller("myController",function($scope){
			$scope.add = function(){
				return parseInt($scope.x) + parseInt($scope.y)
			}

		});

	</script>
</head>
<body ng-app="myApp" ng-controller="myController">
	first number : <input ng-model="x" ><br>
	second number : <input ng-model="y" ><br>
	{{add()}}
</body>
</html>
